{% extends 'index.html' %}

{% block main %}

    <form id="myForm" class="container">
        <div class="container" style="padding-bottom: 75px;">
            <div class="card">
                <div class="card-header">信息输入</div>
                <div class="card-body">

                    <div class="form-row" style="display: flex; flex-wrap: wrap">
                        <div style="margin-top: 30px; margin-right: 30px" class="form-group col-md-5">
                            <label for="age">消费时间:</label>
                            <input type="date" name="age" class="form-control" placeholder="1~120" required>
                        </div>
                        <div style="margin-top: 30px; margin-right: 30px" class="form-group col-md-5">
                            <label for="sex">消费次数:</label>
                            <input type="text" name="sex" class="form-control" placeholder="请输入消费次数" required>
                        </div>
                        <div style="margin-top: 30px; margin-right: 30px" class="form-group col-md-5">
                            <label for="workYear">消费金额:</label>
                            <input type="text" name="cp" class="form-control" placeholder="请输入消费金额" required>
                        </div>
                    </div>
                    <div style="margin-top: 20px">
                        <button type="reset" class="btn btn-secondary">&emsp;重置&emsp;</button>
                        <button class="btn btn-primary" id="formSubmitAdv">&emsp;提交&emsp;</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">消费地点结果预测</div>
                <div class="card-body">
                    <br>
                    <fieldset class="form-group">
                        <legend>预测结果：</legend>
                        <div class="row">
                            <div class="col-lg-4" style="margin-left: 50px;font-size: 28px;color: red" id="val">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </form>

    <script>
        $(document).ready(function () {
            $("#myForm").on("reset", function () {
            });
            $("#myForm").on("submit", function (event) {
                event.preventDefault();
                $.ajax({
                    url: '/predict?' + $(this).serialize(),
                    type: "POST",
                    data: 1,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (res) {
                        $("#val").html(res.message);
                    }
                });
            });
        });

    </script>
{% endblock %}